@import "./../../assets/colors/index.scss";

.background-result {
    width: 500px;
    height: 100px;
    margin: 20px 0;
    border-radius: 10px;
    position: relative;
    transition: all 0.2s ease-in;

    &_first {
        background-color: $very-dark-desaturated-blue-screen;
    }

    &_second {
        background-color: $very-light-gray;
    }

    &_third {
        background-color: $very-dark-violet-toggle;
    }
}

.result {
    font-size: 48px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.2s ease-in;

    &_first {
        color: $white;
    }

    &_second {
        color: $very-dark-grayish-yellow;
    }

    &_third {
        color: $light-yellow;
    }
}

.card {
    width: 440px;
    height: 340px;
    border-radius: 10px;
    padding: 30px;
    transition: all 0.2s ease-in;

    &_first {
        background-color: $very-dark-desaturated-blue-toggle;
    }

    &_second {
        background-color: $grayish-red;
    }

    &_third {
        background-color: $very-dark-violet-toggle;
    }

    &__first-section {
        display: grid;
        grid-template-columns: repeat(4, 95px);
        gap: 20px;
    }

    &__second-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 30px;
    }

    &__btn {
        font-size: 32px;
        transition: all 0.2s ease-in;

        &_first {
            color: $very-dark-grayish-blue;
            background-color: $light-grayish-orange;
            box-shadow: 0 3px 0 0 $grayish-orange;

            &:hover {
                background-color: $light-grayish-orange-hover;
            }
        }

        &_second {
            color: $very-dark-grayish-yellow;
            background-color: $light-grayish-yellow;
            box-shadow: 0 3px 0 0 $dark-grayish-orange;

            &:hover {
                background-color: $light-grayish-yellow-hover;
            }
        }

        &_third {
            color: $light-yellow;
            background-color: $very-dark-violet;
            box-shadow: 0 3px 0 0 $dark-magenta;

            &:hover {
                background-color: $very-dark-violet-hover;
            }
        }
    }

    &__delete-btn {
        font-size: 24px;
        transition: all 0.2s ease-in;

        &_first {
            color: $white;
            background-color: $desaturated-dark-blue-key-bg;
            box-shadow: 0 3px 0 0 $desaturated-dark-blue-key-shadow;

            &:hover {
                background-color: $desaturated-dark-blue-key-bg-hover;
            }
        }

        &_second {
            color: $white;
            background-color: $dark-moderate-cyan;
            box-shadow: 0 3px 0 0 $very-dark-cyan;

            &:hover {
                background-color: $dark-moderate-cyan-hover;
            }
        }

        &_third {
            color: $white;
            background-color: $dark-violet;
            box-shadow: 0 3px 0 0 $vivid-magenta;

            &:hover {
                background-color: $dark-violet-hover;
            }
        }
    }

    &__reset-btn {
        font-size: 24px;
        transition: all 0.2s ease-in;

        &_first {
            color: $white;
            background-color: $desaturated-dark-blue-key-bg;
            box-shadow: 0 3px 0 0 $desaturated-dark-blue-key-shadow;

            &:hover {
                background-color: $desaturated-dark-blue-key-bg-hover;
            }
        }

        &_second {
            color: $white;
            background-color: $dark-moderate-cyan;
            box-shadow: 0 3px 0 0 $very-dark-cyan;

            &:hover {
                background-color: $dark-moderate-cyan-hover;
            }
        }

        &_third {
            color: $white;
            background-color: $dark-violet;
            box-shadow: 0 3px 0 0 $vivid-magenta;

            &:hover {
                background-color: $dark-violet-hover;
            }
        }
    }

    &__result-btn {
        font-size: 24px;
        transition: all 0.2s ease-in;

        &_first {
            color: $white;
            background-color: $red;
            box-shadow: 0 3px 0 0 $dark-red;

            &:hover {
                background-color: $red-hover;
            }
        }

        &_second {
            color: $white;
            background-color: $orange;
            box-shadow: 0 3px 0 0 $dark-orange;

            &:hover {
                background-color: $orange-hover;
            }
        }

        &_third {
            color: $very-dark-blue;
            background-color: $pure-cyan;
            box-shadow: 0 3px 0 0 $soft-cyan;

            &:hover {
                background-color: $pure-cyan-hover;
            }
        }


    }
}

.button {
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    border: none;
    border-radius: 10px;
    height: 50px;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 580px) {
    .background-result {
        width: 90%;
    }

    .card {
        width: 90%;
        height: 420px;
        padding: 0;

        &__first-section {
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            padding: 20px;
        }

        &__second-section {
            gap: 15px;
            margin-top: 5px;
            padding: 0 20px;
        }

        &__btn {
            height: 60px;
        }

        &__delete-btn {
            height: 60px;
        }

        &__reset-btn {
            height: 70px;
        }

        &__result-btn {
            height: 70px;
        }
    }

}