@import "./../../assets/colors/index.scss";

.first-section {
    width: 500px;
    display: flex;
    justify-content: space-between;

    &__title {
        font-size: 28px;
        transition: all 0.2s ease-in;

        &_first {
            color: $white;
        }

        &_second {
            color: $very-dark-grayish-yellow;
        }

        &_third {
            color: $light-yellow;
        }
    }

    &__theme {
        display: flex;
        width: 130px;
        justify-content: space-between;
        align-items: center;
    }

    &__span {
        text-transform: uppercase;
        font-size: 12px;
        transition: all 0.2s ease-in;

        &_first {
            color: $white;
        }

        &_second {
            color: $very-dark-grayish-yellow;
        }

        &_third {
            color: $light-yellow;
        }
    }
}