@import "./../../assets/colors/index.scss";

.first-section {
    width: 500px;
    display: flex;
    justify-content: space-between;

    &__title {
        color: $white;
        font-size: 28px;
    }

    &__theme {
        display: flex;
        width: 130px;
        justify-content: space-between;
        align-items: center;
    }

    &__span {
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
    }
}
